html{
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    margin-top:10%;
}


.main {
    background-color: hsl(0, 0%, 100%);
    width: 330px;
    margin: auto;
    border-radius: 20px;
}

.main>img {
    border-radius: 40px;
    width: 300px;
    padding: 15px 15px 0px 15px;
}

.word {
    text-align:center;
    padding: 0 25px 25px 25px;
}
.word>h1{
    font-family: 'Outfit', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.word>p{
    padding: 0 5px;
    color: hsl(220, 15%, 55%);
    size: 15px;
    font-weight: 500;
}
.attribution {
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}